@charset "ISO-8859-1";

p{
	font-size: 14px;
}

h1{
	font-size: 25px;
}

header h1{
	padding-top: 10px;
}

h2{
	font-size: 18px;
}

body{
	background-color: FloralWhite;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

header{
		background-color: royalblue;
		height: 50px;
}

article{
	border: 1px dashed black;
	padding: 10px;
	margin: 10px;
	background-color: DodgerBlue;
}

main{
	background-color: #2045D8;
	width: 500px;
	border: 2px solid black;
	padding-bottom: 20px;
	margin: 0 auto;
	text-align: center;
	margin-top: 50px;
}


#selectDiv{
	padding: 5px;
	margin: 15px auto;
	border-style: outset;
	border-color: #0066EE;
	border-width: 10px;
	width: 150px;
}

table {
  	border-collapse: collapse;
  	table-layout: fixed;
  	border: 1px solid black;
	margin: 0 auto;
	background-color: DodgerBlue;
}

table, td, th {
 	border: 1px solid black;
  	padding:5px;
}

tbody{
	display:block ;
	height: 150px;
	overflow-y: auto;
	width:100%;
}

thead tr{
  display:block;
}

th, td {
  padding: 5px;
  text-align: left;
  width: 85px;
}
